.features{
    display: grid;
    justify-content: center;
    width: 100vw;
}

.featuretitle{
    display: grid;
    place-items: center;
    width: 70vw;
    margin: auto;
    letter-spacing: 2px;
}

.featuresHeading{
    letter-spacing: 5px;
     font-weight: 700;
     font-size: 3rem;
     text-shadow: 2px 1px 2px rgb(230, 92, 92);
     color: rgb(0, 0, 0);
     
}

.fcard{
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 8px 1px gray;
    justify-content: center;
    align-items: center;
    background-color: #ffeceb;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 30px;
}
.fcard:hover{
    box-shadow: 1px 1px 8px 1px rgb(216, 100, 123);
}

.cardImg{
    width: 300px;
    border-radius: 8px;
    height: 160px;
    object-fit: cover;
}

.fctitle{
    letter-spacing: 1px;
    color: rgb(41, 40, 40);
    font-weight: 600;
    text-shadow: 2px 1px 2px rgb(230, 92, 92);
}

.fcpara{
    text-shadow: 2px 1px 2px rgb(223, 222, 222);
}


